.dashboard-container {
  height: 100%;
  height: -moz-available; /* WebKit-based browsers will ignore this. */
  height: -webkit-fill-available; /* Mozilla-based browsers will ignore this. */

  .col-2 {
    padding: 0;
    border-right-style: solid;
    border-right-color: #e6e7e8;
    border-right-width: 2px;
  }
}
//
//.integration-container {
//  display: flex;
//  align-content: center;
//  padding: 10px;
//  //border-radius: 4px;
//  border-left-style: solid;
//  border-left-color: #ffffff;
//  border-left-width: 4px;
//
//  img {
//    max-width: 100%;
//    max-height: 80px;
//    margin: auto;
//  }
//}
//
//.integration-container:hover {
//  //border: 2px solid #d0e8ca;
//  border-left-style: solid;
//  border-left-color: #d0e8ca;
//  border-left-width: 4px;
//}
//
//.active-integration {
//  //border: 2px solid #66be4f;
//  border-left-style: solid;
//  border-left-color: #66be4f;
//  border-left-width: 4px;
//}
