<div class="container" *ngIf="statistics">
  <h1>
    {{ statistics.name | uppercase }}
    <a href="{{ statistics.link }}" target="_blank"> <i class="fa fa-external-link-alt"></i></a>
  </h1>
  <div style="display: block; height: 150px; width: 300px; margin: auto;">
    <canvas
      baseChart
      [data]="doughnutChartData"
      [labels]="doughnutChartLabels"
      [chartType]="doughnutChartType"
      [colors]="pieChartColors"
    >
    </canvas>
  </div>

  <nz-table #expandTable [nzData]="statistics.rules" [nzFrontPagination]="false" [nzShowPagination]="false">
    <thead>
      <tr>
        <th>Name</th>
        <th>Status</th>
        <th>Reason</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let data of expandTable.data">
        <ng-container *ngFor="let item of mapOfExpandedData[data.key]">
          <tr *ngIf="(item.parent && item.parent.expand) || !item.parent"
            [ngClass]="{
            'color-success': item.result === successCode,
            'color-error': item.result === errorCode
            }"
          >
            <td
              [nzIndentSize]="item.level * 20"
              [nzShowExpand]="item.children.length !== 0"
              [(nzExpand)]="item.expand"
              (nzExpandChange)="collapse(mapOfExpandedData[data.key], item, $event)"
            >

          {{ item.displayName ? item.displayName : item.name }}
            </td>
            <td>{{ item.result }}</td>
            <td>{{ item.error &&  item.error.message ? item.error.message : '' }}</td>
          </tr>
        </ng-container>
      </ng-container>
    </tbody>
  </nz-table>
</div>
