<div class="container" *ngIf="statistics">
  <h1>{{statistics.name | uppercase}}</h1>
  <a href="{{statistics.link}}" target="_blank">{{statistics.fullName}}</a>
  <div style="display: block; height: 150px; width: 300px; margin: auto;">
    <canvas baseChart [data]="doughnutChartData" [labels]="doughnutChartLabels" [chartType]="doughnutChartType"
      [colors]="pieChartColors">
    </canvas>
  </div>

  <ul>
    <ng-container *ngTemplateOutlet="recursiveListTmpl; context:{ $implicit: statistics.rules }"></ng-container>
  </ul>

  <ng-template #recursiveListTmpl let-list>
    <li *ngFor="let item of list"  class="rule-container">
      <h2>
        <b>Rule: </b>{{ item.name }}
        <i class="fa" [ngClass]="{
            'fa-check-circle color-success': item.result === successCode,
            'fa-times-circle color-error': item.result === errorCode
          }"></i>
      </h2>
      <div *ngIf="item.result === errorCode" class="container">
        <p><b>Message:</b> {{item.error.message}}</p>
        <p *ngIf="item.error.expected != undefined">Expected: <span
            class="color-success">{{item.error.expected}}</span></p>
        <p *ngIf="item.error.actual != undefined">Actual: <span class="color-error">{{item.error.actual}}</span>
        </p>
      </div>

      <ul *ngIf="item.children.length > 0">
        <ng-container *ngTemplateOutlet="recursiveListTmpl; context:{ $implicit: item.children }"></ng-container>
      </ul>
    </li>
  </ng-template>
</div>
