/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.color-success {
  color: #52C41A;
}

.color-error {
  color: #F5222D;
}
